.main {
  direction: rtl;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #8f8f8f;
  padding: 10px;
}
.main > div {
  background-color: rgba(216, 216, 216, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.item5 {
  grid-column-start: 1;
  grid-column-end: 4;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #f54e4e;
  width: 50%;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f54e4e;
}
